html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.btn {
  width: 8rem;
  height: 8rem;
  color: #000;
  border: none;
  text-transform: uppercase;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: scale, background-color 0.2s ease;
  line-height: 1.5;
}

.btn:hover {
  background-color: hsl(0, 0%, 100%);
}

.btn:active {
  background-color: #bbb;
  transform: scale(0.9);
  outline: 5px solid #aaa;
}

.input {
  width: 20rem;
  height: 20rem;
  border: none;
  position: absolute;
  left: -50%;
  top: -30%;
}

.c__window {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #ccc;
}

.c__toolbar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  align-items: center;
}

.grid__visualizer {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 2px;
}
.range__slider {
  max-width: 8rem;
  height: 2px;
}

.c__input {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 8rem;
  height: 8rem;
}

.c__drawing {
  border-radius: 1rem;
  width: 58rem;
  height: 58rem;
  background: white;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  overflow: hidden;
}

.grid-item {
  width: 100%;
  height: 100%;
}

footer {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
}

@media (max-width: 46.37em) {
  html {
    font-size: 56.25%;
  }

  .c__window {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .c__toolbar {
    grid-row: 2;
    flex-direction: row;
    gap: 1rem;
  }

  .c__drawing {
    width: 100%;
    height: 70vh;
  }

  .btn {
    width: 7rem;
    height: 7rem;
    font-weight: 700;
  }
}

@media (max-width: 39em) {
  /* .c__window {
    max-width: 80vw;
  } */
  html {
    overflow: hidden;
  }
  body {
    padding: 1.5rem 0;
    height: 100vh;
  }

  .c__toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    text-align: center;
  }

  .c__drawing {
    height: 35rem;
    width: 35rem;
  }

  .btn {
    width: 100%;
  }
}
